html {
  scroll-behavior: smooth;
}

:root {
  --bg: #0f172a;
  --bg-secondary: #111827;
  --card: #1f2937;

  --accent: #22d3ee;
  --accent-soft: #06b6d4;

  --text-main: #e5e7eb;
  --text-secondary: #9ca3af;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  font-size: 18px;
  color: var(--text-main);
  background-color: #f9fcff;
  line-height: 1.4;
}

.bgc {
  background-image:
    linear-gradient(135deg, #03121434, #8b5cf620), url(./assets/img/bgc.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

header {
  display: flex;
  align-items: center;
  gap: 5vw;
  padding: 20px 40px;
}

.photo {
  width: 14%;
  aspect-ratio: 1 /1;
  overflow: hidden;
  border-radius: 50%;
}

.my-photo {
  width: 100%;
  height: 100%;
}

.h1 {
  font-weight: 800;
  font-size: clamp(20px, 3.9vw, 46px);
  letter-spacing: 2px;
  font-family: 'Nunito Sans', sans-serif;
  color: var(--accent);
}

.h3 {
  color: var(--text-maint);
  font-size: 20px;
}

.nav {
  margin-bottom: 40px;
  padding: 15px 40px;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 6px 3px -3px #06b5d49a;
}

.nav-item {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 20px;
}

.nav-item img {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  color: var(--text-main);
  font-weight: 700;
  letter-spacing: 1px;
  transition: 0.3s;
}

.nav-item:hover .nav-link {
  color: var(--accent-soft);
}

h2 {
  display: inline-block;
  color: #06b5d4e7;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  letter-spacing: 2px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
}

h2::after {
  content: '';
  display: block;
  position: absolute;
  width: 150%;
  height: 1px;
  background-color: #06b5d49a;
}

.main {
  padding: 0 40px;
}

.about-me {
  margin-bottom: 30px;
}

.education-ul {
  margin-bottom: 30px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.experience-item,
.skill-item,
.education-ul-item {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
}

.education-ul-item {
  gap: 10px;
}

.education-ul-item img {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
}

.experience-skills {
  display: flex;
  gap: 50px;
  margin-bottom: 30px;
}

.skill-item::before,
.experience-item::before,
.language-item::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background-color: var(--accent);
  border-radius: 50%;
}

.code-and-lang {
  display: flex;
  gap: 160px;
  margin-bottom: 30px;
}

.code {
  max-width: 530px;
  width: 100%;
}

pre {
  padding-top: 20px;
  background-color: var(--text-secondary);
  color: var(--bg);
  border-radius: 10px;
}

.language-item {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.language-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.progress {
  height: 19px;
  width: 250px;
  background-color: var(--accent);
  border-radius: 7px;
  text-align: center;
  display: flex;
  align-items: center;
}

.progress-value-100 {
  height: 75%;
  width: 100%;
  border-radius: 5px;
  background-color: #11526b;
}

.progress-value-40 {
  height: 75%;
  width: 40%;
  border-radius: 7px;
  background-color: #11526b;
}

.projects {
  margin-bottom: 30px;
}

.wrapper-projects {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.project-item {
  display: block;
  padding: 10px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 350px;
  background-color: var(--card);
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  transition: 0.5s;
}

.project-item:hover {
  transform: scale(1.05);
}

.project-item:hover .project-name {
  color: var(--accent);
}

.project-item img {
  display: block;
  width: 100%;
  height: 100%;
}

.project-name {
  color: var(--text-main);
  font-size: 20px;
  transition: 0.3s;
}

.contacts-list {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 20px;
  box-shadow: 0px 6px 3px -3px #06b5d49a;
}

.contacts-item {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.contacts-link {
  color: var(--text-main);
  text-decoration: none;
  transition: 0.3s;
}

.contacts-item:hover,
.contacts-item:hover .contacts-link {
  color: var(--accent);
}

/* Footer */

.footer {
  padding: 20px 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 6px 3px -3px #06b5d49a;
}

.footer img {
  filter: invert(1);
}

.logo-git {
  width: 50px;
  transition: 0.3s;
}

.logo-rsschool {
  width: 150px;
  transition: 0.5s;
}

.logo-git:hover,
.logo-rsschool:hover {
  transform: scale(1.08);
}
